[user]
    name = João Marcos
    email = marcospb19@hotmail.com
[core]
    editor = nvim
    pager = "delta --dark --syntax-theme=base16"
[delta]
    line-numbers = true
[url "ssh://git@github.com/"]
    pushInsteadOf = "https://github.com/"
    pushInsteadOf = "git://github.com/"
[commit]
    cleanup = scissors
[pull]
    rebase = true
[init]
    defaultBranch = main

[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
[alias]
    dif = difftool
