[user]
	name = João M. Bezerra
	email = marcospb19@hotmail.com
[core]
	editor = nvim
	pager = "delta --dark --plus-color=#012800 --minus-color=#340001 --theme=base16"
[url "ssh://git@github.com/"]
        pushInsteadOf = "https://github.com/"
        pushInsteadOf = "git://github.com/"
[commit]
	cleanup = scissors
[pull]
	rebase = true
	# ff = only
[credential "https://github.com"]
	helper = 
	helper = !/home/joao/.cargo/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/joao/.cargo/bin/gh auth git-credential
[init]
	defaultBranch = main
