# TIP: use double quotes instead to prevent string splits
alias fix-whitespace='sed "s/\ /\\\ /g"'

# ls aliases
alias ls='ls --color=auto --group-directories-first -F'
alias l='ls'
alias la='ls -A'
alias ll='ls -l'
alias lla='ll -A'

# Git aliases
alias lol="git log --all --graph --oneline --decorate"

alias please="sudo"

# Disown all apps
alias dis="bg ; disown ; exit"

# Update STDIN
alias ix='curl -F "f:1=<-" ix.io'

alias rs="cargo +nightly -Zscript"
alias rsi="evcxr"
alias ipy="ipython"
alias pyi="ipython"

alias whiteboard="lorien"
alias dragon='dragon-drop'
